/* Add CSS Styling */
.odd{
    background-color: #eea0e18f;
    font-family:'Times New Roman', Times, serif;
}
.adjust-font{
    font-size: 24px;
}
#two{
    color: blue;
    font-size: 36px;
}
.num3{
    font-size: 24px;
}
#four{
    background-color: lightgreen;
    font-size: 24;
    font-weight: bold;
}