body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

.card{
  padding: 12px;
}
.title{
  margin-bottom: 12px;
  font-size: 14px;
  padding: 8px ;
}
.content{
  margin-bottom: 16px;
  padding: 16px 8px;
}
.button-container{
  padding:  8px;
  text-align: center;
}
button{
  padding: 8px 24px;
  display:block;
  margin: 0 auto;
  
}